<div [formGroup]="form">
    <div [ngSwitch]="control.type">
        <input [formControlName]="control.title" *ngSwitchCase="'text'" [type]="control.type" class=""
            [placeholder]="control.title" />
        <input [formControlName]="control.title" *ngSwitchCase="'date'" [type]="control.type" [min]="control.minDate"
            [max]="control.maxDate" />
        <select *ngSwitchCase="'dropdown'" [formControlName]="control.title" [multiple]="control.multiple">
            <option  [ngValue]="-1">--- Select ---</option>
            <option *ngFor="let opt of filterService.getSelectOptions(control.api)  | async " [ngValue]="opt.Alpha3Code">{{opt.Name}}</option>
        </select>
    </div>
</div>