@mixin flex-direction($dir: row){
    flex-direction: $dir;
}

.flex-container {
    @include flex-direction();
    box-sizing: border-box;
    display: flex;
    flex: 1 1 1e-9px;
    .filter {
        @include flex-direction();
        flex: 1 1 25%;
        place-content: center;
        box-sizing: border-box;
        background-color: #f2f2f2;
        padding: 20px;
        border: 1px solid lightgrey;
        border-radius: 3px;
        margin-right: 20px;
    }
    .search {
        align-items: center;
        @include flex-direction();
        box-sizing: border-box;
        flex: 1 1 75%;
    }
}

@media screen and (max-width: 800px) {
    .flex-container {
        @include flex-direction(column);
    }
    .filter {
        max-width: 100% !important;
        display: block;
    }
    .search {
        max-width: 100% !important;
        display: block;
    }
}
